@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/inter-400.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/inter-700.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/inter-900.woff2") format("woff2");
}

/* Basic styles and resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #2d3440;
}

.body-color-slide-1 {
  background-color: #feafc3;
}

.body-color-slide-2 {
  background-color: #69a9ff;
}

.body-color-slide-3 {
  background-color: #fcc850;
}

.main-index {
  flex-grow: 1;
}

.main-catalog {
  flex-grow: 1;
  margin-top: 9px;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 1366px;
  margin: 0 auto;
  padding-left: 98px;
  padding-right: 98px;
}

.catalog-container {
  padding-bottom: 76px;
  border-bottom: 1px solid #fec7d5;
}

.container-heading {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: #2d3440;
}

.rounded-block {
  border-radius: 16px;
}

.container-btn {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
}

.container-btn-red {
  padding: 12px 32px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #fcfcfc;
  background-color: #ff2f64;
  border: 4px solid #f6b9c9;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  cursor: pointer;
}

.container-btn-red:hover {
  color: #2d3440;
  background-color: #fcfcfc;
  border-color: #ff2f64;
  box-shadow: none;
}

.container-btn-red:focus {
  outline: none;
  border-color: #ff2f64;
  box-shadow: 0 0 0 2px #000000;
}

.container-btn-red:disabled {
  color: #565c66;
  background-color: #b9b9b9;
  border-color: #e8e8e8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link-btn {
  display: inline-block;
  padding: 12px 32px;
  line-height: 20px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  background-color: #fcfcfc;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4),
              0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.link-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 0 0 4px #fcfcfc;
}

.link-btn:focus {
  border-color: #fcfcfc;
  outline: none;
  box-shadow: 0 0 0 2px #000000;
}

.link-btn:disabled {
  pointer-events: none;
}

/* Header */

.page-header-container {
  display: flex;
  width: 1366px;
  margin: 24px auto;
  margin-bottom: 40px;
  padding-left: 98px;
  padding-right: 98px;
}

.nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.logo {
  width: 140px;
  margin-right: 14px;
}

.main-nav {
  margin-top: 10px;
  max-width: 400px;
}

.list-item {
  line-height: 20px;
  padding: 0;

}

.user-list {
  max-width: 445px;
  margin-top: 5px;
  margin-left: auto;
}

.user-list .list-item {
  margin-right: 16px;
}

.user-list .list-item:last-child {
  margin-right: 0;
}

.item-link {
  display: block;
  padding: 8px 16px;
  color: #2d3440;
  text-decoration: none;
}

.item-link:hover {
  border-radius: 26px;
  background-color: rgba(255, 255, 255, 0.5);
}

.item-link:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #000000;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.5);
}

.item-link:active {
  padding: 8px 16px;
  border-radius: 26px;
  background-color: #fcfcfc;
}

.item-tel {
  padding-right: 2px;
  padding-top: 2px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.item-tel:focus {
  box-shadow: inset 0 0 0 2px #000000;
  outline: none;
}

.catalog-list-item {
  position: relative;
}

.catalog-list-item .item-link {
  padding-right: 17px;
}

.catalog-list {
  position: absolute;
  top: 44px;
  z-index: -1;
  display: none;
  min-width: 138px;
  padding: 11px 0;
  border-radius: 4px;
  list-style-type: none;
  background-color: #f9f9f9;
}

.catalog-list-item:hover .catalog-list {
  z-index: 1;
  display: block;
}

.catalog-list-item:focus-within .catalog-list {
  z-index: 1;
  display: block;
}

.catalog-item-heading {
  margin-bottom: 14px;
  padding: 6px 16px;
  position: relative;
  font-weight: 700;
}

.catalog-item-heading::after {
  content: "";
  position: absolute;
  width: 108px;
  height: 1px;
  top: 36px;
  left: 16px;
  background-color: #b9b9b9;
}

.catalog-item {
  padding: 6px 16px;
  font-size: 14px;
}

.catalog-item:hover {
  background-color: #ffcbd8;
}

.catalog-item:active {
  color: #fcfcfc;
  background-color: #ff7799;
}

.catalog-item:last-child {
  margin-bottom: 0;
}

.catalog-link {
  color: inherit;
  text-decoration: none;
}

.user-list-btn {
  position: relative;
  min-width: 32px;
  min-height: 32px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 26px;
  cursor: pointer;
}

.user-list-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.user-list-btn:focus {
  box-shadow: inset 0 0 0 2px #000000;
  outline: none;
}

.user-list-btn:active {
  background-color: #fcfcfc;
}

.user-list-btn span {
  padding-left: 22px;
}

/* search button and popup */

.search-pop {
  position: relative;
}

.search-pop .user-list-btn {
  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.popup-search {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: -1;
  display: none;
  min-width: 160px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.search-pop:hover .popup-search {
  display: block;
  z-index: 1;
}

.search-pop:focus-within .popup-search {
  display: block;
  z-index: 1;
}

.search-input {
  width: 100%;
}

.search-input::-webkit-search-cancel-button {
  appearance: none;
  height: 10px;
  width: 10px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background: url("../img/icons/cross.svg") 50% 50% no-repeat;
}

.search-form {
  width: 356px;
  padding: 24px 18px;
  background-color: #fcfcfc;
  border-radius: 4px;
}

/* Login button and popup */

.enter {
  position: relative;
  padding: 6px 18px;
}

.enter span::before {
  content: " ";
  position: absolute;
  left: 18px;
  top: 9px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../img/icons/log-in.svg") no-repeat 50% 50%;
}

.login-pop {
  position: relative;
}

.popup-dashboard-login {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: -1;
  display: none;
  width: 420px;
  padding: 48px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.login-pop:hover .popup-dashboard-login {
  display: block;
  z-index: 1;
}

.login-pop:focus-within .popup-dashboard-login {
  display: block;
  z-index: 1;
}

.dashboard-login-heading {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 32px;
}

.dashboard-login-input {
  margin: 0;
  margin-bottom: 16px;
}

.dashboard-login-input:last-of-type {
  margin-bottom: 29px;
}

.login-form {
  width: 100%;
  padding: 12px 16px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.login-form::placeholder {
  font: inherit;
  color: #2d3440;
}

.login-columns {
  display: flex;
  align-items: center;
}

.login-columns .container-btn-red {
  margin-left: -4px;
}

.dashboard-login-list {
  padding: 0;
  margin-left: 20px;
  list-style-type: none;
}

.login-list-item:first-child {
  margin-bottom: 3px;
}

.login-link {
  font-size: 14px;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #2d3440;
}

/* Сart button and popup */
.cart {
  position: relative;
}

.cart-btn {
  position: relative;
  padding: 6px 17px;
  cursor: pointer;
}

.cart-btn span::before {
  content: " ";
  position: absolute;
  left: 16px;
  top: 9px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../img/icons/cart.svg") no-repeat 50% 50%;
}

.catalog-cart-btn {
  position: relative;
  padding: 8px 18px;
  cursor: pointer;
}

.catalog-cart-btn span::before {
  content: " ";
  position: absolute;
  left: 17px;
  top: 9px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../img/icons/cart-black.svg") no-repeat 50% 50%;
}

.popup-bucket {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: -1;
  display: none;
  width: 288px;
  padding: 48px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.catalog-bucket {
  display: none;
  position: absolute;
  z-index: -1;
  min-width: 288px;
  background-color: #f9f9f9;
}

.cart:hover .popup-bucket {
  display: flex;
  z-index: 1;
}

.cart:focus-within .popup-bucket {
  display: flex;
  z-index: 1;
}

.cart:hover .catalog-bucket {
  display: grid;
  grid-template-columns: 48px 230px 115px 48px;
  grid-template-rows: 22px 25px 145px 48px 16px;
  grid-gap: 32px 0;
  top: 41px;
  right: 0;
  z-index: 1;
  border-radius: 4px;
}

.cart:focus-within .catalog-bucket {
  display: grid;
  grid-template-columns: 48px 230px 115px 48px;
  grid-template-rows: 16px 30px 150px 46px 16px;
  grid-gap: 32px 0;
  top: 40px;
  right: 0;
  z-index: 1;
  border-radius: 4px;
}

.bucket-heading {
  grid-column: 2/4;
  grid-row: 2/3;
  margin: 0;
}

.bucket-list {
  position: relative;
  grid-row: 3/4;
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.bucket-list::after {
  content: "";
  position: absolute;
  bottom: 3px;
  width: 345px;
  height: 1px;
  background-color: #e7e7e7;
}

.bucket-item {
  display: grid;
  margin-bottom: 24px;
  grid-template-columns: 46px 148px 90px 9px;
  grid-template-rows: 22px 20px;
  grid-gap: 4px 16px;
}

.bucket-image {
  grid-column: 1/2;
  grid-row: span 2;
  border-radius: 50%;
}

.bucket-item-heading {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

.price-calc {
  grid-column: 2/3;
  margin: 0;
  font-size: 14px;
}

.price {
  align-self: center;
  grid-row: 1/3;
  grid-column: 3/4;
  font-size: 18px;
}

.bucket-cross {
  width: 9px;
  height: 9px;
  align-self: center;
  grid-row: 1/3;
  grid-column: 4/5;
  background: url("../img/icons/cross.svg") no-repeat 50% 50%;
  border: none;
}

.link-bucket {
  grid-column: 2/3;
  grid-row: 4/5;
  margin-left: -3px;
  padding-top: 10px;
  justify-self: start;
  text-decoration: none;
}

.total-price {
  grid-column: 3/4;
  grid-row: 4/5;
  align-self: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.bucket-text {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}
/* Promotion block */

.promo {
  margin-bottom: 79px;
}

.promo-slider-list {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.promo-slide-heading {
  margin: 0;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

.promo-slide-text {
  width: 412px;
  margin: 0;
  margin-bottom: 46px;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
}

.slide-img {
  position: relative;
}

.promo-slide {
  display: flex;
  opacity: 0.35;
  margin-right: 49px;
}

.promo-slide .slide-desc {
  display: none;
}

.promo-slide .promo-slide-image {
  width: 91px;
  height: 150px;
  margin-top: 8px;
}

.promo-slide .slide-img::after {
  position: absolute;
  top: 32px;
  left: -7px;
  z-index: -1;
  display: block;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  content: "";
}

.promo-slide-active {
  margin-left: 0;
  margin-right: 69px;
  opacity: 1;
  order: -1;
  align-items: center;
}

.promo-slide-active .promo-slide-image {
  width: 306px;
  height: 507px;
  margin-top: 0;
}

.promo-slide-active .slide-desc {
  display: block;
  padding-left: 70px;
  margin-right: 56px;
  width: 505px;
}

.promo-slide-active .slide-img::after {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: -1;
  display: block;
  width: 312px;
  height: 312px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  content: "";
}

.slider-control {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 237px;
  width: 38px;
  height: 38px;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 50%;
  cursor: pointer;
}

.slider-control:hover {
  background-color: #fcfcfc;
}

.slider-control:focus {
  border: 2px solid #000000;
  outline: none;
}

.slider-control:focus .arrow-black {
  fill: #2d3440;
}

.slider-control:hover .arrow-black {
  fill: #2d3440;
}

.slider-control:disabled {
  border: 2px solid #fdceda;
}

.slider-control:disabled .arrow-black {
  fill: #fdceda;
}

.control-prev {
  left: 542px;
}

.control-next {
  right: 278px;
}

.pagination-columns {
  display: flex;
  justify-content: space-between;
  margin-top: -5px;
}

.slider-pagination {
  display: flex;
  justify-content: space-between;
  width: 52px;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  list-style-type: none;
}

.social-link-list {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  min-width: 104px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link-list-item {
  margin-right: 11px;
}

.social-link-list-item:last-child {
  margin-right: 0;
}

.slider-pagination-btn {
  width: 12px;
  height: 12px;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-btn:hover {
  box-shadow: 0 0 0 1px #fcfcfc;
  outline: none;
}

.slider-pagination-btn:focus {
  box-shadow: 0 0 0 1px #000000;
  outline: none;
}

.slider-pagination-btn-active {
  background-color: #fcfcfc;
}

.icon-item {
  display: block;
  width: 28px;
  height: 28px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.icon-item:hover svg {
  background-color: #000000;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px #fcfcfc;
}

.icon-item:focus {
  outline: none;
  background-color: #000000;
  border: 2px solid #000000;
  box-shadow: inset 0 0 0 2px #000000;
}

.vk-icon {
  margin-left: -2px;
}

/* Gifts block */

.gifts {
  margin-bottom: 81px;
}

.gifts-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gift-item {
  display: flex;
  width: 570px;
  color: #2d3440;
  background-color: #ff7799;
}

.gift-item:last-child .gift-info {
  width: 302px;
}

.gift-container-item {
  padding: 41px 14px 40px 40px;
}

.gift-item:last-child .gift-image {
  margin-left: -25px;
}

.main-gift-heading {
  width: 443px;
  margin: 0 auto 55px auto;
  text-align: center;
}

.gift-heading {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
}

.gift-info {
  width: 320px;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.gift-image {
  align-self: end;
}

/* Popular block grid*/

.popular {
  margin-bottom: 80px;
}

.main-popular-heading {
  width: 527px;
  margin: 0 auto;
  margin-bottom: 106px;
  text-align: center;
}

.products-list {
  display: grid;
  grid-gap: 91px 30px;
  grid-template-columns: repeat(4, 270px);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-card {
  text-align: center;
}

.product-card-container {
  display: grid;
  grid-template-columns: 40px auto auto 40px;
  grid-template-rows: min-content auto min-content 24px;
  text-align: center;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.product-card-image {
  margin-top: -51px;
  margin-bottom: 11px;
  border-radius: 50%;
  filter: drop-shadow(0 4px 12px rgba(45, 52, 64, 0.1));
}

.product-card-link {
  grid-column: 2/4;
  color: #2d3440;
  text-decoration: none;
}

.product-card-link:focus {
  outline: none;
  box-shadow: 0 0 0 2px #000000;
}

.product-card-title {
  margin: 0;
}

.product-card-title,
.product-card-price {
  font-size: 20px;
  line-height: 24px;
}

.product-card-price {
  grid-column: 2/3;
  align-self: center;
  justify-self: start;
}

.price-currency {
  margin-left: 3px;
}

.product-card-text {
  grid-column: 2/4;
  margin: 0;
  padding: 8px 0 16px 0;
  color: #565c66;
}

.product-card-btn {
  justify-self: end;
  width: 32px;
  height: 32px;
  padding-top: 5px;
  background-color: #ff2f64;
  border: none;
  border-radius: 50%;
}

.product-card-btn:hover {
  background-color: #fcfcfc;
  box-shadow: inset 0 0 0 2px #ff2f63;
  outline: none;
  cursor: pointer;
}

.product-card-btn:hover .cart-black {
  fill: #2d3440;
}

.product-card-btn:disabled {
  background-color: #b9b9b9;
}

.product-card-btn:disabled .cart-black {
  fill: #565c66;
}

.product-card-btn:disabled:hover {
  box-shadow: inset 0 0 0 2px #b9b9b9;
}

/* About block */

.about {
  display: flex;
  margin-bottom: 80px;
  background: #fcfcfc url("../img/waffles-bg.png") no-repeat;
  background-size: cover;
}

.about-wrapper {
  margin: 24px;
  padding: 57px 40px 0 40px;
  background-color: #fcfcfc;
}

.about-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 55px 0 16px 0;
  list-style-type: none;
}

.about-list-item {
  position: relative;
  padding-left: 64px;
  margin-bottom: 40px;
  color: #565c66;
}

.about-item-text {
  margin: 0;
  width: 442px;
}

.about .container-heading {
  margin: 0;
  text-align: center;
  margin-left: -1px;
}

.ice-cream-icon::before {
  position: absolute;
  left: 0;
  width: 48px;
  height: 48px;
  background: url("../img/icons/ice-cream.svg") no-repeat 50% 50%;
  background-size: 32px 32px;
  border: 2px solid #2d3440;
  border-radius: 50%;
  content: "";
}

.cow-icon .about-item-text {
  padding-left: 1px;
  padding-right: 16px;
}

.cow-icon::before {
  position: absolute;
  left: 1px;
  width: 48px;
  height: 48px;
  background: url("../img/icons/cow.svg") no-repeat 50% 50%;
  background-size: 32px 32px;
  border: 2px solid #2d3440;
  border-radius: 50%;
  content: "";
}

.leaf-icon::before {
  position: absolute;
  left: 0;
  width: 48px;
  height: 48px;
  background: url("../img/icons/leaf.svg") no-repeat 50% 50%;
  background-size: 32px 32px;
  border: 2px solid #2d3440;
  border-radius: 50%;
  content: "";
}

.thermometer-icon::before {
  position: absolute;
  left: 0;
  width: 48px;
  height: 48px;
  background: url("../img/icons/thermometer.svg") no-repeat 50% 50%;
  background-size: 32px 32px;
  border: 2px solid #2d3440;
  border-radius: 50%;
  content: "";
}

/* Index-columns (combo of two blocks) */

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

/* News block */

.news {
  width: 570px;
  background: #fcfcfc url("../img/news-bg.jpg") no-repeat;
  background-size: 570px 221px;
}

.news-container {
  margin-top: 33px;
  margin-left: 32px;
}

.news-heading {
  margin: 0;
  margin-bottom: 13px;
  line-height: 20px;
  color: #565c66;
}

.news-text {
  display: block;
  width: 305px;
  margin-bottom: 65px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2d3440;
  text-decoration: none;
}

/* Subscribe block */

.subscribe {
  width: 570px;
  background: #fcfcfc url("../img/subscribe-bg.png") no-repeat;
  background-size: cover;
}

.subscribe-wrapper {
  width: 558px;
  margin: 8px 6px 6px 6px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.subscribe-form {
  padding: 24px 26px;
}

.form-text {
  margin: 0;
  margin-bottom: 40px;
}

.form-combo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
}

.subscribe-form .container-btn-red {
  margin-left: 19px;
}

.form-combo .form-input {
  width: 332px;
}

.form-input {
  width: 100%;
  padding: 12px 15px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #000000;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

.form-input::placeholder {
  color: #b9b9b9;
}

.form-input:hover {
  box-shadow: inset 0 0 0 2px #000000;
  outline: none;
  cursor: pointer;
}

.form-input:disabled {
  background-color: #e7e7e7;
  cursor: pointer;
}

/* Класс для показа ошибок при валидации input */
.error {
  outline: none;
  border: 1px solid #ea5445;
}

.error:focus {
  outline: none;
  border: 2px solid #ea5445;
}

/* Delivery block */

.delivery {
  display: flex;
  margin-bottom: 80px;
  background: #fcfcfc url("../img/delivery-bg.jpg") no-repeat;
  background-size: cover;
}

.delivery-desc {
  width: 371px;
  margin-left: 100px;
  padding-top: 168px;
}

.main-delivery-heading {
  margin: 0;
  padding-bottom: 23px;
}

.delivery-form {
  width: 500px;
  margin: 64px;
  margin-left: 135px;
  padding: 40px;
  padding-bottom: 38px;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.delivery-text {
  margin: 0;
  color: #565c66;
}

.delivery-form-form {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 117px 1fr;
  grid-gap: 19px 16px;
}

.delivery-form-form input {
  display: block;
  margin-top: 7px;
  width: 100%;
}

.delivery-form-btn {
  margin-top: 9px;
  grid-row: 4;
  grid-column: span 2;
  justify-self: center;
}

.form-heading {
  grid-column: span 2;
  width: 390px;
  margin-bottom: 12px;
}

.delivery-label {
  margin-bottom: 8px;
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
}

.delivery-adress {
  grid-column: span 2;
}

.info {
  position: relative;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  background: url("../img/icons/info.svg") no-repeat 50% 50%;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.info:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #000000;
}


/* Tooltips */

.tooltip {
  position: absolute;
  top: -8px;
  left: 25px;
  z-index: 1;
  display: none;
  min-width: 205px;
  padding: 10px 8px;
  text-align: left;
  color: #565c66;
  background-color: #fcfcfc;
  border: 2px solid #b9b9b9;
  border-radius: 5px;
}

.tooltip::after {
  position: absolute;
  top: 8px;
  left: -9px;
  z-index: -1;
  display: block;
  width: 14px;
  height: 14px;
  background-color: #fcfcfc;
  border-left: 2px solid #b9b9b9;
  border-top: 2px solid #b9b9b9;
  transform: rotate(-45deg);
  content: "";
}

.tooltip-text {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.info:hover .tooltip {
  display: block;
}

/* Adress block */

.adress {
  display: flex;
  background: #fcfcfc url("../img/adress-bg.jpg") no-repeat;
  background-size: 1170px 492px;
}

.adress-block {
  width: 343px;
  margin: 64px;
  padding: 40px;
  padding-bottom: 36px;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.adress-details {
  margin: 0;
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.adress-text {
  margin-bottom: 12px;
  color: #565c66;
}

.tel-link {
  color: #2d3440;
  text-decoration: none;
}

.tel-time {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #565c66;
}

.adress-btn {
  margin: 0;
}

.adress-btn .container-btn-red {
  margin-top: -1px;
  margin-left: -4px;
  padding: 13px 32px;
}

/* Modal */
.modal-feedback-form {
  display: none;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal-open {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-wrapper {
  position: relative;
  display: block;
  margin: auto;
  width: 570px;
  background-color: #fcfcfc;
  border-radius: 6px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  padding: 64px;
}

.feedback-btn {
  margin-left: auto;
}

.close-modal {
  position: absolute;
  right: 36px;
  top: 36px;
  width: 11px;
  height: 11px;
  border: none;
  background-color: #fcfcfc;
  background-image: url("../img/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.btn-link {
  color: inherit;
  text-decoration: none;
}

.modal-link {
  display: block;
  width: 50px;
  height: 50px;
  background: url("../img/icons/cross.svg") no-repeat 50% 50%;
  text-decoration: none;
}

.feedback-form-heading {
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.form-row {
  margin: 0;
  margin-bottom: 16px;
}

.modal-feedback-form .container-btn-red {
  margin-right: -6px;
}

/* Footer */

.footer-container {
  display: flex;
  width: 1366px;
  margin: 46px auto;
  padding-left: 98px;
  padding-right: 98px;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  font-weight: 400;
}

.link-list {
  list-style-type: none;
}

.footer-item-link {
  font-size: 14px;
  color: #2d3440;
  text-decoration: none;
}

.footer-item-link:focus {
  outline: none;
  box-shadow: 0 0 0 2px #000000;
}

.footer-social-list {
  margin-right: 285px;
  margin-left: 4px;
}

.footer-social-list .social-link-list-item {
  margin-right: 12px;
}

.about-manufacture-link-list {
  width: 150px;
  margin: 0;
  margin-right: 24px;
  padding: 0;
}

.about-manufacture-link-list a {
  font-size: 14px;
}

.about-manufacture-link-list .list-item:first-child,
.regulations-list .list-item:first-child {
  margin-top: 1px;
  margin-bottom: 7px;
}

.about-manufacure-list-item {
  padding-left: 24px;
}

.heart-icon {
  position: relative;
  font-weight: 700;
}

.heart-icon::before {
  content: " ";
  position: absolute;
  top: 4px;
  left: 1px;
  width: 14px;
  height: 14px;
  background: url("../img/icons/heart-fill.svg") no-repeat 50% 50%;
}

.regulations-list {
  width: 185px;
  margin: 0;
  padding: 0;
}

.developer-links-list {
  width: 200px;
  margin: 0;
  margin-left: 197px;
  margin-top: 2px;
  padding: 0;
}

.link-loved {
  font-weight: 700;
}

.html-academy-link {
  margin: 0;
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
}

.html-academy-link a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #2d3440;
}

/* Catalog page */

/* Catalog header */

.link-active {
  padding: 8px 16px;
  text-decoration: none;
  color: #fcfcfc;
  background-color: #ff4a77;
  border-radius: 26px;
}

.link-active:focus {
  box-shadow: inset 0 0 0 2px #000000;
  outline: none;
}

.logo:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #000000;
}

/* Breadcrumbs */

.inner-site-navigation {
  margin-bottom: 45px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  position: relative;
  display: inline-block;
  height: 20px;
  margin: 0;
  margin-right: 29px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #2d3440;
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

.breadcrumbs-link:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #000000;
}

.breadcrumbs-item:last-child .breadcrumbs-link {
  border: none;
}

.breadcrumbs-link::after {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 4px;
  right: -21px;
  content: "";
  background-image: url("../img/icons/chevrons-right.svg");
}

.breadcrumbs-item:last-child .breadcrumbs-link::after {
  background: none;
}

.catalog-heading {
  margin: 0;
  font-weight: 900;
}

/* Filter block */

.catalog-filter-block {
  margin-bottom: -8px;
}

.catalog-filter {
  display: grid;
  grid-template-columns: 196px 196px auto;
  grid-template-rows: 70px auto;
  grid-gap: 16px 24px;
  align-items: end;
  margin-bottom: 105px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  margin-bottom: 8px;
  margin-left: 14px;
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 8px 14px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  align-items: center;
  list-style: none;
  background-color: #fec7d5;
  border-radius: 20px;
}

.catalog-filter-item {
  margin-right: 15px;
}

.catalog-filter-item:last-child {
  margin-right: 0;
}

.price-title {
  display: flex;
}

.sugar-item {
  margin-right: 23px;
}

/* Range  */
.range {
  padding: 17px;
  background-color: #fec7d5;
  border-radius: 20px;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  left: 33px;
  width: 68px;
  height: 2px;
  background-color: #565656;
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #000000;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  display: block;
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 50%;
}

.range-toggle:hover {
  background-color: #ffffff;
  border-color: #ffffff;
}

.range-toggle:hover::after {
  background-color: #000000;
}

.range-toggle:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #000000;
}

.range-toggle:focus .range-toggle::after {
  background-color: #000000;
}

.range-toggle:active {
  background-color: #000000;
}

.range-toggle:active .range-toggle::after {
  background-color: #000000;
}

.toggle-min {
  top: -7px;
  left: -10px;
}

.toggle-max {
  top: -7px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  margin-left: -29px;
  margin-bottom: 7px;
  font-size: 14px;
}

.catalog-filter-label {
  display: flex;
}

.range-input {
  width: 37px;
  padding: 0 2px;
  font: inherit;
  color: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #000000;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Select */
.select-control {
  width: 196px;
  padding: 8px 16px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2d3440;
  background-color: #fec7d5;
  border: none;
  border-radius: 20px;
  background-image: url("../img/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 13px center;
  cursor: pointer;
  appearance: none;
}

.select-control:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #fcfcfc;
}

.select-control:hover {
  background-color: #fdd6e0;
}


.filter-sorting-price {
  display: flex;
  flex-direction: column;
}

.filter-sorting-fat {
  display: flex;
  grid-column: 3/5;
}

.filter-sorting-adds {
  grid-row: 2;
  grid-column: 1/4;
  display: flex;
}

/* Radio buttons */

.control-label-radio {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../img/icons/radio-off.svg") no-repeat 50% 50%;
  background-color: #fec7d5;
}

/* Checked */

.control-input-radio:checked + .control-label-radio {
  background-image: url("../img/icons/radio-on.svg");
}

/* Focused (нет в макете)*/

.control-input-radio:focus + .control-label-radio {
  background-image: url("../img/icons/radio-off-hover.svg");
}

.control-input-radio:checked:focus + .control-label-radio {
  background-image: url("../img/icons/radio-on-hover.svg");
}

/* Hovered */

.control-input-radio:hover + .control-label-radio {
  background-image: url("../img/icons/radio-off-hover.svg");
}

.control-input-radio:checked:hover + .control-label-radio {
  background-image: url("../img/icons/radio-on-hover.svg");
}

/* Disabled */

.control-input-radio:disabled + .control-label-radio {
  background-image: url("../img/icons/radio-off-disabled.svg");
}

.control-input-radio:checked:disabled + .control-label-radio {
  background-image: url("../img/icons/radio-on-disabled.svg");
}


/* Checkboxes */

.control {
  position: relative;
  padding-left: 26px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.control-label {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../img/icons/check-off.svg") no-repeat 50% 50%;
  background-color: #fec7d5;
}

/* Checked */

.control-input:checked + .control-label {
  background-image: url("../img/icons/check-on.svg");
}

/* Focused (нет в макете)*/

.control-input:focus + .control-label {
  background-image: url("../img/icons/check-off-hover.svg");
}

.control-input:checked:focus + .control-label {
  background-image: url("../img/icons/check-on-hover.svg");
}

/* Hovered */

.control-input:hover + .control-label {
  background-image: url("../img/icons/check-off-hover.svg");
}

.control-input:checked:hover + .control-label {
  background-image: url("../img/icons/check-on-hover.svg");
}

/* Disabled */

.control-input:disabled + .control-label {
  background-image: url("../img/icons/check-disabled.svg");
}

.control-input:checked:disabled + .control-label {
  background-image: url("../img/icons/check-on-disabled.svg");
}

.form-btn {
  display: inline;
  padding: 8px 54px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 20px;
}

.form-btn:hover {
  background-color: #fcfcfc;
  border-color: #fec7d5;
}

.form-btn:focus {
  border-color: #fec7d5;
  box-shadow: 0 0 0 2px #000000;
  outline: none;
}

.form-btn:disabled {
  opacity: 0.5;
}

.catalog-filter .form-btn {
  margin-left: 24px;
  margin-bottom: -2px;
}

/* Pagination block */

.catalog-pagination {
  display: flex;
  align-items: center;
  margin-top: 53px;
}

.pagination-show-more {
  margin-left: 490px;
  padding: 12px 32px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #fcfcfc;
  border: 4px solid #f2c7d2;
  border-radius: 26px;
}

.pagination-link-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-left: 295px;
  padding: 0;
  max-width: 198px;
}

.pagination-item {
  margin-right: 2px;
}

.pagination-item:first-child {
  margin-right: 0;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  width: 24px;
  height: 24px;
  padding-top: 1px;
  text-align: center;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 50%;
}

.pagination-link:focus {
  outline: none;
  background-color: #fdceda;
  border-color: #2d3440;
}

.pagination-link:hover {
  background-color: #fdceda;
  border-color: #fcfcfc;
}

.pagination-prev {
  margin-right: 12px;
  background: url("../img/icons/arrow-left.svg") no-repeat center;
}

.pagination-prev:focus {
  outline: none;
  box-shadow: 0 0 0 4px #000000;
}

.pagination-prev:hover {
  outline: none;
  box-shadow: 0 0 0 4px #000000;
}

.pagination-next {
  margin-left: 13px;
  margin-right: -20px;
  background: url("../img/icons/arrow-right.svg") no-repeat center;
}

.pagination-disabled {
  opacity: 0.5;
}

.pagination-disabled:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.pagination-disabled:hover {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.pagination-active {
  display: block;
  width: 24px;
  height: 24px;
  text-align: center;
  background-color: #fcfcfc;
  border-radius: 50%;
}

.pagination-active:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.pagination-active:hover .pagination-link {
  background-color: #fcfcfc;
}
