@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/inter-400.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/inter-700.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/inter-900.woff2") format("woff2");
}

/* Basic styles and resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: rgb(45, 52, 64);
  background-color: rgb(254, 175, 195);
}

.main-index {
  flex-grow: 1;
}

.main-catalog {
  flex-grow: 1;
}

.content-container {
  width: 1170px;
  margin: 0 auto;
}

.container-heading {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: #2d3440;
}

.rounded-block {
  border-radius: 16px;
}

.container-btn {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.container-btn-red {
  padding: 12px 32px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #fcfcfc;
  background-color: #ff2f64;
  border: 4px solid #f6b9c9;
  border-radius: 26px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.page-header-container {
  display: flex;
  align-items: center;
  width: 1170px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.logo {
  width: 140px;
  margin-right: 16px;
}

.main-nav {
  max-width: 400px;
}

.user-list {
  max-width: 420px;
  margin-left: auto;
}

.user-list .list-item {
  margin-right: 16px;
}

.list-item {
  line-height: 20px;
}

.item-link {
  display: block;
  padding: 42px 16px;
  color: rgb(45, 52, 64);
  text-decoration: none;
}

.item-tel {
  padding: 42px 18px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.user-list-btn {
  min-width: 32px;
  min-height: 32px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background-color: #fec7d5;
  border: none;
  border-radius: 26px;
}

/* Promotion block */

.promo {
  margin-bottom: 80px;
}

.promo-slider-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  list-style-type: none;
}

.promo-slide-heading {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

.promo-slide-text {
  font-size: 18px;
  line-height: 24px;
  color: inherit;
}

.promo-slide {
  display: flex;
  align-items: center;
  opacity: 0.4;
}

.promo-slider-list :first-child {
  opacity: 1;
}

.slide-desc {
  width: 470px;
}

.slide-img {
  position: relative;
}

.circle-bg {
  position: absolute;
  top: 95px;
  width: 312px;
  height: 312px;
  background-color: #ffcbd8;
  z-index: -1;
  border-radius: 50%;
}

.slide-img-secondary {
  position: relative;
}

.circle-bg-small {
  position: absolute;
  top: 30px;
  right: -5px;
  width: 100px;
  height: 100px;
  z-index: -1;
  background-color: #ffcbd8;
  border-radius: 50%;
}

.slider-control {
  position: absolute;
  top: 230px;
  width: 38px;
  height: 38px;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 50%;
}

.control-prev {
  left: -20px;
}

.control-next {
  right: -28px;
}

.pagination-columns {
  display: flex;
  justify-content: space-between;
}

.slider-pagination {
  display: flex;
  justify-content: space-between;
  width: 52px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-social-link-list {
  display: flex;
  justify-content: space-between;
  width: 104px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-btn {
  width: 12px;
  height: 12px;
  font-size: 0;
  background-color: rgb(252, 252, 252);
  border: none;
  border-radius: 50%;
  opacity: 0.3;
}

.slider-pagination-btn-active {
  opacity: 1;
}


/* Gifts block */

.gifts {
  margin-bottom: 80px;
}

.gifts-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gift-item {
  display: flex;
  align-items: center;
  width: 570px;
  padding: 20px 0 0 40px;
  color: rgb(45, 52, 64);
  background-color: rgb(255, 119, 153);
}

.main-gift-heading {
  width: 443px;
  margin: 0 auto 56px auto;
  text-align: center;
}

.gift-heading {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
}

.gift-info {
  width: 320px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.gift-image {
  align-self: end;
}

.link-btn {
  display: inline-block;
  padding: 12px 32px;
  line-height: 20px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  background-color: rgb(252, 252, 252);
  border: 4px solid #f6c8d3;
  border-radius: 26px;
}

/* Popular block */

.main-popular-heading {
  width: 527px;
  margin: 0 auto 110px auto;
  text-align: center;
}

.products-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-card {
  width: 270px;
  text-align: center;
  margin-bottom: 91px;
}

.product-card-container {
  padding-bottom: 28px;
  min-height: 300px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.product-card-image {
  margin-top: -60px;
  border-radius: 50%;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.product-card-link {
  color: rgb(45, 52, 64);
  text-decoration: none;
}

.product-card-title,
.product-card-price {
  font-size: 20px;
  line-height: 24px;
}

.product-card-text {
  color: #565c66;
}

.product-price-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-card-btn {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: #ff2f64;
}

/* About block */

.about {
  display: flex;
  margin-bottom: 80px;
  background: rgb(252, 252, 252) url("../img/waffles-bg.png") no-repeat;
  background-size: cover;
}

.about-wrapper {
  margin: 24px;
  padding: 56px 40px 0 40px;
  background-color: rgb(252, 252, 252);
}

.about-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 56px 0 16px 0;
  list-style-type: none;
}

.about-list-item {
  width: 442px;
  margin-bottom: 40px;
  margin-right: 96px;
  color: #565c66;
}

.about-list-item:nth-child(2n) {
  margin-bottom: 0;
  margin-right: 0;
}

.about-item-text {
  margin: 0;
}

.about .container-heading {
  margin: 0;
  text-align: center;
}

/* Index-columns (combo of two blocks) */

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

/* News block */

.news {
  width: 570px;
  background: rgb(252, 252, 252) url("../img/news-bg.jpg") no-repeat;
  background-size: cover;
}

.news-container {
  margin-left: 32px;
}

.news-heading {
  line-height: 20px;
  color: #565c66;
}

.news-text {
  display: block;
  width: 305px;
  margin-bottom: 56px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(45, 52, 64);
  text-decoration: none;
}

/* Subscribe block */

.subscribe {
  width: 570px;
  background: rgb(252, 252, 252) url("../img/subscribe-bg.png") no-repeat;
  background-size: cover;
}

.subscribe-wrapper {
  width: 558px;
  margin: 6px;
  background-color: rgb(252, 252, 252);
  border-radius: 8px;
}

.subscribe-form {
  padding: 26px;
}

.form-text {
  margin: 0;
  margin-bottom: 38px;
}

.form-combo {
  margin: 0;
}

/* Delivery block */

.delivery {
  display: flex;
  margin-bottom: 80px;
  background: rgb(252, 252, 252) url("../img/delivery-bg.jpg") no-repeat;
}

.delivery-desc {
  align-self: center;
  width: 371px;
  margin-left: 100px;
}

.main-delivery-heading {
  margin: 0;
}

.delivery-form {
  width: 500px;
  margin: 64px;
  margin-left: 135px;
  padding: 40px;
  background-color: rgb(252, 252, 252);
  border-radius: 8px;
}

.delivery-text {
  margin: 0;
  color: #565c66;
}

.delivery-form-form {
  display: grid;
  grid-template-rows: repeat(4,auto);
  grid-template-columns: 117px 1fr;
  grid-gap: 16px 20px;
}

.delivery-form-form input {
  display: block;
  margin-top: 8px;
  width: 100%;
}

.delivery-form-btn {
  margin-top: 10px;
  grid-row: 4;
  grid-column: span 2;
  justify-self: center;
}

.form-heading {
  grid-column: span 2;
  margin-bottom: 12px;
}

.delivery-label {
  margin-bottom: 8px;
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
}

.delivery-adress {
  grid-column: span 2;
}

.info {
  width: 12px;
  height: 12px;
  vertical-align: middle;
}

/* Adress block */

.adress {
  display: flex;
  background: rgb(252, 252, 252) url("../img/adress-bg.jpg") no-repeat;
}

.adress-block {
  width: 343px;
  margin: 64px;
  padding: 40px;
  background-color: rgb(252, 252, 252);
  border-radius: 8px;
}

.adress-details {
  margin: 0;
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.adress-text {
  margin-bottom: 12px;
  color: #565c66;
}

.tel-link {
  color: #2d3440;
  text-decoration: none;
}

.tel-time {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #565c66;
}

.adress-btn {
  margin: 0;
}

/* Footer */

.footer-container {
  display: flex;
  width: 1170px;
  margin: 48px auto;
}

.link-list {
  list-style-type: none;
}

.social-link-list {
  width: 110px;
  margin: 0;
  margin-right: 299px;
  padding: 0;
  list-style-type: none;
}

.footer-item-link {
  font-size: 14px;
  color: rgb(45, 52, 64);
  text-decoration: none;
}

.about-manufacture-link-list {
  width: 130px;
  margin: 0;
  margin-right: 24px;
  padding: 0;
}

.about-manufacture-link-list a {
  font-size: 14px;
}

.regulations-list {
  width: 185px;
  margin: 0;
  padding: 0;
}

.developer-links-list {
  width: 200px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.link-loved {
  font-weight: 700;
}

.html-academy-link {
  font-size: 12px;
  line-height: 16px;
  color: rgb(45, 52, 64);
}

.html-academy-link a {
  color: inherit;
}

/* Catalog page */

/* Catalog header */

.link-active {
  padding: 8px 16px;
  color: rgb(252, 252, 252);
  background-color: rgb(255, 74, 120);
  border-radius: 26px;
}

/* Breadcrumbs */

.inner-site-navigation {
  margin-bottom: 40px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  display: inline;
  margin-right: 28px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(45, 52, 64);
}

/* Filter block */

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  width: 807px;
  margin-bottom: 100px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
}

.filter-sorting-sorting {
  width: 200px;
}

.filter-sorting-price {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.filter-sorting-fat {
  display: flex;
  width: 370px;
}

.filter-sorting-adds {
  display: flex;
  width: 596px;
}

.catalog-filter-list {
  display: flex;
  list-style: none;
}

.catalog-filter-title {
  font-size: 14px;
  line-height: 20px;
}

.control-label {
  font-size: 14px;
  line-height: 20px;
}

.form-btn {
  display: inline;
  padding: 8px 54px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 20px;
}

/* Product block */

.catalog-products li:nth-last-child(1),
.catalog-products li:nth-last-child(2),
.catalog-products li:nth-last-child(3),
.catalog-products li:nth-last-child(4) {
  margin-bottom: 60px;
}

/* Pagination block */

.catalog-pagination {
  display: flex;
  align-items: baseline;
}

.pagination-show-more {
  margin: 0 0 41px 494px;
  padding: 12px 32px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #fcfcfc;
  border: 4px solid #f2c7d2;
  border-radius: 26px;
}

.pagination-link-list {
  display: flex;
  align-items: baseline;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.pagination-item {
  margin-right: 16px;
}

.pagination-active {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  padding-top: 2px;
  text-align: center;
  background-color: #fcfcfc;
  border-radius: 50%;
}

.pagination-link {
  line-height: 20px;
  color: rgb(45, 52, 64);
  text-decoration: none;
}
