@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/inter-400.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/inter-700.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/inter-900.woff2") format("woff2");
}

/* Basic styles and resets */

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: rgb(45, 52, 64);
  background-color: rgb(254, 175, 195);
}

.container-heading {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: #2d3440;
}

section,
article {
  border-radius: 16px;
}

.container-btn {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.container-btn-red {
  padding: 12px 32px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #fcfcfc;
  background-color: #ff2f64;
  border: 4px solid #f6b9c9;
  border-radius: 26px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.nav-list {
  list-style-type: none;
}

.list-item {
  line-height: 20px;
}

.item-link {
  color: rgb(45, 52, 64);
  text-decoration: none;
}

.item-tel {
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.user-list-btn {
  padding: 8px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background-color: #fec7d5;
  border: none;
  border-radius: 26px;
}

/* Promotion block */

.promo-slider-list {
  list-style-type: none;
}

.promo-slide-heading {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

.promo-slide-text {
  font-size: 18px;
  line-height: 24px;
  color: inherit;
}

.promo-slide {
  opacity: 0.4;
}

.promo-slider-list :first-child {
  opacity: 1;
}

.slider-pagination {
  list-style-type: none;
}

.slider-pagination-btn {
  width: 12px;
  height: 12px;
  font-size: 0;
  background-color: rgb(252, 252, 252);
  border: none;
  border-radius: 50%;
  opacity: 0.3;
}

.slider-pagination-btn-active {
  opacity: 1;
}

.social-link-list {
  list-style-type: none;
}

/* Gifts block */

.gifts-list {
  list-style-type: none;
}

.gift-item {
  color: rgb(45, 52, 64);
  background-color: rgb(255, 119, 153);
}

.gift-heading {
  font-size: 24px;
  line-height: 30px;
}

.link-btn {
  display: inline-block;
  padding: 12px 32px;
  line-height: 20px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  background-color: rgb(252, 252, 252);
  border: 4px solid #f6c8d3;
  border-radius: 26px;
}

/* Popular block */

.products-list {
  list-style-type: none;
}

.product-card-image {
  border-radius: 50%;
}

.product-card-link {
  color: rgb(45, 52, 64);
  text-decoration: none;
}

.product-card-title,
.product-card-price {
  font-size: 20px;
  line-height: 24px;
}

.product-card-text {
  color: #565c66;
}

/* About block */

.about {
  width: 1170px;
  height: 480px;
  background: rgb(252, 252, 252) url("../img/waffles-bg.png") no-repeat;
}

.about-wrapper {
  background-color: rgb(252, 252, 252);
}

.about-list {
  list-style-type: none;
}

.about-list-item {
  color: #565c66;
}

/* News block */

.news {
  width: 570px;
  height: 216px;
  background: rgb(252, 252, 252) url("../img/news-bg.jpg") no-repeat;
}

.news-heading {
  line-height: 20px;
  color: #565c66;
}

.news-text {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(45, 52, 64);
  text-decoration: none;
}

/* Subscribe block */

.subscribe {
  width: 570px;
  height: 216px;
  background: rgb(252, 252, 252) url("../img/subscribe-bg.png") no-repeat;
}

.subscribe-wrapper {
  background-color: rgb(252, 252, 252);
  border-radius: 8px;
}

/* Delivery block */

.delivery {
  width: 1170px;
  height: 534px;
  background: rgb(252, 252, 252) url("../img/delivery-bg.jpg") no-repeat;
}

.delivery-form {
  background-color: rgb(252, 252, 252);
  border-radius: 8px;
}

.delivery-label {
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
}

.delivery-text {
  color: #565c66;
}

/* Adress block */

.adress {
  width: 1170px;
  height: 492px;
  background: rgb(252, 252, 252) url("../img/adress-bg.jpg") no-repeat;
}

.adress-block {
  background-color: rgb(252, 252, 252);
  border-radius: 8px;
}

.adress-details {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.adress-text {
  color: #565c66;
}

.tel-link {
  color: #2d3440;
  text-decoration: none;
}

.tel-time {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #565c66;
}

/* Footer */

.link-list {
  list-style-type: none;
}

.about-manufacture-link-list a {
  font-size: 14px;
}

.link-loved {
  font-weight: 700;
}

.html-academy-link {
  font-size: 12px;
  line-height: 16px;
  color: rgb(45, 52, 64);
}

.html-academy-link a {
  color: inherit;
}

/* Catalog page */

/* Catalog header */

.link-active {
  padding: 8px 16px;
  color: rgb(252, 252, 252);
  background-color: rgb(255, 74, 120);
  border-radius: 26px;
}

/* Breadcrumbs */

.breadcrumbs-link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(45, 52, 64);
}

/* Filter block */

.catalog-filter-title {
  font-size: 14px;
  line-height: 20px;
}

.control-label {
  font-size: 14px;
  line-height: 20px;
}

.form-btn {
  padding: 8px 54px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 20px;
}

/* Pagination block */

.pagination-show-more {
  padding: 12px 32px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #fcfcfc;
  border: 4px solid #f2c7d2;
  border-radius: 26px;
}

.pagination-link {
  line-height: 20px;
  color: rgb(45, 52, 64);
  text-decoration: none;
}

